
body{
  margin: 0;
  /* min-height: 90vh; */
  background-image: url(chess\ board.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
    .table{
      display: flex;
      justify-items: center;
      width: 590px;
      height: 595px;
      background-color: black;
      box-shadow:20px 15px 25px white;
      /* margin-top: 30px; */
      margin-right: 100px;
      outline: 5px solid white;
      border: 2px solid black;
    }
      td{
        
        width: 70px;
        height: 70px;
        text-align: center;
       }

     td img{
      max-width: 80%;
      max-height: 80%;

    }

       tr:nth-child(odd) td:nth-child(odd),
        tr:nth-child(even) td:nth-child(even)

       {background-color:white; }

       h1{
        font-size: 50px;
        margin-bottom: 10px;
        margin-left: -110px;
        font-style: italic;
    }
    
